.venv
db.sqlite3
__pycache__/
*.pyc
.DS_Store
.env
.idea/
.vscode/
staticfiles/
media/
coverage/
htmlcov/
*.log
*.sqlite3
*.pot
*.mo
*.mod
*.swp
*.swo
node_modules/
dist/
build/
*.egg-info/
.envrc
.pytest_cache/
.coverage
.mypy_cache/
.pyre/
celerybeat-schedule
instance/
*.bak
*.tmp
*.old
*.orig
*.rej